
<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <img alt="logo" height="75" src="../../../assets/icon/icon.png" slot="start" routerLink="">
      <ion-searchbar id="custom-search"></ion-searchbar>
      <ion-buttons slot="end">
        <ion-menu-button ></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>
    <div *ngIf="artwork">
      <ion-card>
        <img src="{{ artwork.images[0].image_url }}" alt="NULL"/>
        <ion-card-header class="ion-text-center">
          <ion-card-title>{{ artwork.title }}</ion-card-title>
          <ion-router-link color="dark" [routerLink]="['/artist-detail',  artwork.artist.id  ]">
            <ion-card-subtitle> {{ artwork.artist.name }} </ion-card-subtitle>
          </ion-router-link>
          <div class="ion-text-center">
            <ion-button (click) = favoriteButton() ><ion-icon name="heart-dislike-outline"></ion-icon></ion-button>
            <ion-button (click) = showShareOptions(artwork) > <ion-icon name="share-social-outline"></ion-icon> </ion-button>
          </div>
        </ion-card-header>
        <ion-card-content>
          <ion-router-link color="gray" [routerLink]="['/artist-detail',  artwork.artist.id  ]">
            <ion-row>Artist: {{ artwork.artist.name }}</ion-row>
          </ion-router-link>
          <ion-row>Date: {{ artwork.date}}</ion-row>
          <ion-row>Nationality: {{ artwork.artist.nationality }}</ion-row>
          <ion-row>Category: {{artwork.category}}</ion-row>
          <ion-row>Collection institure: {{ artwork.collecting_institution}}</ion-row>
          <ion-row>Type: {{ artwork.medium}}</ion-row>
          <ion-row>Dimensions: {{ artwork.dimensions.cm}}</ion-row>
          <ion-row>Additional information: {{ artwork.additional_information }} </ion-row>
        </ion-card-content>
        <div class="ion-text-center">
          <ion-button (click) = lastPage() > Back </ion-button>
          <ion-button (click) = downloadIMG() > Download IMG </ion-button>
        </div>
      </ion-card>
    </div>
  </ion-content>
</ion-app>
