<ion-header [translucent]="true">
  <ion-toolbar>
    <img alt="logo" height="75" src="../../../assets/icon/icon.png" slot="start" routerLink="">
    <ion-searchbar id="custom-search"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>


  <!-- Responsive Layout with Ion Grid-->

    <ion-row>
      <ion-col col-6 col-md-4 col-xl-3 *ngFor="let artwork of artworks">
        <img src="{{artwork._links.thumbnail.href}}" alt="NULL">
        <label>{{artwork.title}}</label>
      </ion-col>
    </ion-row>

</ion-content>
