<ion-header [translucent]="true">
  <ion-toolbar>
    <img alt="logo" height="75" src="../../../assets/icon/icon.png" slot="start" routerLink="">
    <ion-searchbar id="custom-search"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-grid class="grid">
    <ion-row *ngIf="opere && opere.length > 0" class="content" >
      <ion-col size="6" size-md="4" size-lg="3" class="grid-box"  *ngFor="let artwork of opere">
        <div class="dummy-square"></div>

        <img [src]="" >
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
