<ion-header [translucent]="true">
  <ion-toolbar>
    <img alt="logo" height="75" src="../../../assets/icon/icon.png" slot="start" routerLink="">
    <ion-searchbar id="custom-search"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>


  <ion-row>
    <ion-col *ngFor="let artwork of artworks;" size="6">
      <ion-router-link color="dark" href="">
        <img src="{{artwork._links.thumbnail.href}}" height="125" width="155"/>
        <h2 class="cat-name">{{artwork.title}}</h2>
      </ion-router-link>
    </ion-col>
  </ion-row>


  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" [disabled]="numTimesLeft <= 0">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
