<ion-header [translucent]="true">
  <ion-toolbar>
    <img alt="logo" height="75" src="../../../assets/icon/icon.png" slot="start" routerLink="">
    <ion-searchbar id="custom-search"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <h1 class="cat-title">Featured Categories</h1>
    </ion-row>
    <ion-row>
      <ion-col *ngFor="let cat of categoryHome;" size="6">
        <ion-router-link color="dark" href="{{ cat.url }}">
          <img src="{{ cat.src }}" height="125" width="155"/>
          <h2 class="cat-name">{{ cat.name }}</h2>
        </ion-router-link>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <h1 class="cat-title">Popular Artists</h1>
    </ion-row>
  </ion-grid>

  <div *ngIf="popularArtists">
    <ion-list>
      <ion-item *ngFor="let artist of popularArtists">
         <ion-avatar slot="start">
          <img src="{{ artist.image.url }}" alt="NULL">
        </ion-avatar>
        <ion-label>
          <ion-router-link color="dark" [routerLink]="['/artist-detail',  artist.id  ]">
            <h2>{{ artist.name }}</h2>
          </ion-router-link>
          <p>{{ artist.blurb.substring(0,38) }}...</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
