<ion-header [translucent]="true">
  <ion-toolbar>
    <img alt="logo" height="75"   src="assets/icon/icon.png" slot="start" routerLink="">
    <ion-searchbar id="custom-search"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <h1 class="cat-title">Featured Categories</h1>
    </ion-row>
    <ion-row>
      <ion-col *ngFor="let cat of categoryHome;" size="6">
        <ion-router-link color="dark" href="{{ cat.url }}">
          <img src="{{ cat.src }}" height="125" width="155"/>
          <h2 class="cat-name">{{ cat.name }}</h2>
        </ion-router-link>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <h1 class="cat-title">Popular Artist</h1>
    </ion-row>
  </ion-grid>

  <div *ngIf="loading">
    Loading...
  </div>
  <div *ngIf="error">
    Server Error
  </div>
  <div *ngIf="artists">
    <ion-list>
      <ion-item *ngFor="let artist of artists">
        <ion-router-link color="dark" href="#">
          <h2 class="cat-name"> {{ artist.name }} </h2>
        </ion-router-link>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
