<ion-header [translucent]="true">
  <ion-toolbar>
    <img alt="logo" height="75"   src="assets/icon/icon.png" slot="start" routerLink="">
    <ion-searchbar id="custom-search"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <h1>Featured Categories</h1>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-router-link color="dark" href="#">
          <img src="../../assets/home/category/modern.png" height="175" width="357"/>
        </ion-router-link>
        <ion-router-link color="dark" href="#">
          Impressionist & Modern Art
        </ion-router-link>
      </ion-col>
      <ion-col>
        <ion-router-link color="dark" href="#">
          <img src="../../assets/home/category/contemporaryart.jpg" height="175" width="357"/>
          Contemporary Art
        </ion-router-link>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-router-link color="dark" href="#">
          <img src="../../assets/home/category/photograph.png" height="175" width="357"/>
          Photography
        </ion-router-link>
      </ion-col>
      <ion-col>
        <ion-router-link color="dark" href="#">
          <img src="../../assets/home/category/postwar.png" height="175" width="357"/>
          Post War Art
        </ion-router-link>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-router-link color="dark" href="#">
          <img src="../../assets/home/category/pre20th.png" height="175" width="357"/>
          Pre-20th Century
        </ion-router-link>
      </ion-col>
      <ion-col>
        <ion-router-link color="dark" href="#">
          <img src="../../assets/home/category/streetart.png" height="175" width="357"/>
          Street Art
        </ion-router-link>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="loading">
    Loading...
  </div>
  <div *ngIf="error">
    Error :(
  </div>
  <div *ngIf="data">
    <ion-list>
      {{data}}
      <ion-item *ngFor="let artist of data">
        {{ artist }}
      </ion-item>
    </ion-list>
  </div>
</ion-content>
